.navbar {background-color:  rgb(207, 40, 40);}

.navbar-brand {
  color: white !important;
  text-align: center;
}

.nav-link {color: white !important;}

body {background-color: rgb(0, 0, 0);}

body {color: rgb(207, 40, 40);}

.img {
  max-height: 300px;
  margin: 20px;
}
.header {
  margin: 60px;
}

/* .music {
max-height: 300px !important;} */

/* .row {margin: 40px;} */

/* .col-md-4 {
  justify-content: left;
} */

.col-md-12 {text-align:center}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* justify-content: center; */

}
.card {
  margin: 10%;

}
h1 {text-align: center;
  margin-top: 30px;
  font-size: 300%;
}

.mt-0 {margin-top: 40 !important;}

p {justify-content: center;
  text-align: center;
  font-size: larger;
}

.codingImages {
  max-height: 400px;
  margin: 40px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  rgb(207, 40, 40);
    color: black;
    text-align: center;
}


